@font-face {
    font-family: "Suisse Intl Regular";
    font-style: normal;
    font-weight: 400;
    src: local("Suisse Intl"), local("Suisse Intl"), url("../fonts/Suisse Intl Regular.woff");
}

@font-face {
    font-family: "Suisse Intl Medium";
    font-style: normal;
    font-weight: 500;
    src: local("Suisse Intl"), local("Suisse Intl"), url("../fonts/Suisse Intl Medium.woff");
}